@import '../../styles/base';

.posts__item-area[role="component"]{
  .posts__item-content{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding:$margin-sm*2;
  }

  .image-handler__img,.image-handler__loading{
    height:50%;
  }

  .image-handler__img img{
    height: 100%;
  }

  .posts__item-loading{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
  }

  .posts__item-image img{
    width:100%;
    object-fit:cover;
    height: 100%;
    border-radius:$border-radius;
    filter: grayscale(0.1);
    transition: opacity 1s ease-out;
    background: linear-gradient(0deg , rgba(30, 28, 33, 0.62) 0%, rgba(65, 64, 66, 0.14) 38.14%);
  }

  .posts__item-image{
    overflow: hidden;
    height: 300px;
    width:100%;
  }

  .posts__item-content > div:not(.posts__item-btn) {
    margin-bottom: 1.25rem;
  }

  .posts__item-category>div{
    margin:$margin-sm/4 $margin-sm/2;
    margin-left:0;
  }
}