$light-color: #f8f7f7;
$dark-color:#414042;
$orange-color: #FFD850;
$gray-color: #bfbfc1;
$light-gray-color: #f1f1f1;
$light-blue-color:#F7F8F9;
$margin-sm: 1.25rem;
$gray:#E5E5E5;
$border-radius:25px;
$media-header:1000px;
$h4:24px;
$super-dark:#262628;
$black: #090808;

:export{
  marginSm:$margin-sm;
}