@import './base.scss';

body::-webkit-scrollbar {
  width: 1em;
}

/*Dark scroll*/
body::-webkit-scrollbar-track {
  background-color: $dark-color;
  box-shadow: inset 15px 15px 44px #323133,
  inset -15px -15px 44px #504f51;
}

body::-webkit-scrollbar-thumb {
  border-radius:$border-radius;
  background: linear-gradient(145deg, $super-dark, $black);
  box-shadow:  15px 15px 35px #1a1a1a,
  -15px -15px 35px #68666a;
}
/*End*/

/*Light scroll*/
body::-webkit-scrollbar-track, .backdrop__content::-webkit-scrollbar-track {
  background-color: $light-color;
  box-shadow: inset 15px 15px 14px #e4e3e3,
  inset -15px -15px 14px #ffffff;
}

body::-webkit-scrollbar-thumb, .backdrop__content::-webkit-scrollbar-thumb{
  border-radius:$border-radius;
  background: #bfbfc1;
  box-shadow:  15px 15px 14px #e4e3e3,
  -15px -15px 14px #ffffff;
}
/*End*/
