@import '../../styles/variables';

.questions{
  position:relative;

  .questions__letters, .section__letters{
    position:absolute;
    left: 0;
    top: $margin-sm*6;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 170px;
    line-height: 199px;
    text-align: center;
    color: rgba(152, 150, 154, 0.03);
    width:100%;
  }

  .questions__item-rectangle{
    width:30px;
    height:30px;
    background-color: transparent;
    margin-left:$border-radius;
    cursor:pointer;
  }

  .questions__wrap{
    width:100%;
    padding: $margin-sm $margin-sm*2;

    .questions__elem{
      flex: 1 1 50%;
      width:50%;
      padding:0;
    }
  }

  .questions__item{
    margin-bottom: $margin-sm;
  }

  .questions__item:last-child{
    margin-bottom: 0 !important;
  }

  .activeItem{
    max-height:max-content !important;
    margin-bottom:$margin-sm*2 !important;
  }

  .questions__img-container img{
    width: 100%;
    object-fit: contain;
    margin-top: $margin-sm*2;
  }

  .questions__item-answer>div{
    max-width: 80%;
    padding-top: 1rem;
  }

  .questions__item-answer{
    overflow:hidden !important;
    max-height: 0;
    transition: max-height 2s ease-out;
  }

  .questions__item-txt h5{
    font-weight:400;
  }

  .questions__item-line{
    width:100%;
    height:2px;
  }

  .questions__item-content{
    justify-content: space-between;
    padding-bottom: 1rem;
  }

  .questions__wrap{
    flex-direction: column;
  }

  .questions__wrap .questions__elem{
    width:100%;
  }

  .questions__logo  img{
    position: absolute;
  }

  .questions__logo img:nth-child(1){
    top:$margin-sm*2;
    left:$margin-sm*2;
  }

  .questions__logo img:nth-child(2){
    top:$margin-sm*2;
    right:$margin-sm*2;
  }

  .questions__logo img:nth-child(3){
    bottom:$margin-sm*2;
    right:$margin-sm*2;
  }

  .questions__logo img:nth-child(4){
    bottom:$margin-sm*2;
    left:$margin-sm*2;
  }
}