@import '../../styles/variables';

.image-handler{
    .image-handler__container{
      position: relative;
      height:300px;
    }
    .image-handler__loading{
      object-fit: cover;
      background: linear-gradient(
                      0deg
              , rgba(30, 28, 33, 0.62) 0%, rgba(65, 64, 66, 0.14) 38.14%);
      height:300px;
      border-radius: $border-radius $border-radius 0 0;
      position: absolute;
      top:0;
      left:0;
      width:100%;
    }

   .image-handler__img{
      height:300px;
      object-fit: cover;
      border-radius: $border-radius $border-radius 0 0;
      position: absolute;
      top:0;
      left:0;
      width:100%;
   }
}