$margin-sm:1.25rem;
$light-color:#fcfcfc;
$dark-color:#212121;
$grey-color:#424242;
$orange-color: #ffde30;
$border-radius: 25px;

:export{
  lightColor:$light-color;
  darkColor:$dark-color;
  greyColor:$grey-color;
}

.txt-light{
  color: $light-color !important;
}

.txt-bold{
  font-weight:400;
}

.text{
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  letter-spacing: normal;
}

.mb{
  margin-bottom:$margin-sm;
}

.mt{
  margin-top:$margin-sm;
}

.font-weight-500{
  font-weight:500;
}

.mr {
  margin-right: $margin-sm;
}

.ml{
  margin-left: $margin-sm;
}

.h1{
  @extend .text;
  font-size: 68px;
}

.h2{
  @extend .text;
  font-size:48px;
}

.h3{
  font-size: 38px;
  @extend .text;
}

.h4{
  font-size: 28px;
  @extend .text;
}

.h5{
  font-size: 21px;
  @extend .text;
}

.h6{
  font-size: 16px;
  @extend .text;
}
