@import '../../styles/base.scss';

footer{
  width:100vw;
  padding:$margin-sm*3 0rem;

  .footer__link-img svg path{
     fill:white;
  }

  .footer__brand-name{
    padding-bottom: $margin-sm;
  }

  .footer__link-img{
    width:60px;
    height:60px;
    border-radius:$border-radius;
    background: #414042;
    box-shadow: -4px -4px 17px rgba(255, 255, 255, 10%), 4px 4px 16px #2E2B30, inset 4px 4px 4px rgba(46, 43, 48, 10%), inset -4px -4px 16px rgba(255, 255, 255, 10%);
    position: relative;
    cursor: pointer;

    svg{
      position: absolute;
      width: 70%;
      left: 15%;
      top: 15%;
      height: 70%;
    }
  }


  .footer__line{
    border: 1px solid rgba(230, 231, 232, 0.34);
    box-shadow: 4px 4px 16px #2F2C33;
  }

  .footer__description{
    margin: $margin-sm 0;
  }

  .footer__links{
    justify-content: space-between;
    padding: $margin-sm*2 0;
  }

  .footer__link-txt{
    margin-left:$margin-sm;
  }

  .footer__link{
    width: 152.15px;
    justify-content: flex-start;
  }
}